@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get your financial data from <a href="https://finance.yahoo.com">yahoo finance</a>.</p>
</div>
